@model GoPulauV01.Models.CustomMemberUpdateModel

<h3>Change password</h3>
@*@Html.AntiForgeryToken()*@
@*@Html.ValidationSummary()*@

<fieldset>
    <legend>Change Password Form</legend>
    @Html.HiddenFor(m => m.MemberModel.MemberId)
    <ol>
        <li>
            @Html.LabelFor(m => m.localPasswordModel.OldPassword)
            @Html.PasswordFor(m => m.localPasswordModel.OldPassword, new { id = "txtMemberOldPassword" })
            @*@Html.ValidationMessageFor(m => m.localPasswordModel.OldPassword)*@
        </li>
        <li>
            @Html.LabelFor(m => m.localPasswordModel.NewPassword)
            @Html.PasswordFor(m => m.localPasswordModel.NewPassword, new { id = "txtMemberNewPassword" })
            @*@Html.ValidationMessageFor(m => m.localPasswordModel.NewPassword)*@
        </li>
        <li>
            @Html.LabelFor(m => m.localPasswordModel.ConfirmPassword)
            @Html.PasswordFor(m => m.localPasswordModel.ConfirmPassword, new { id = "txtMemberConfirmPassword" })
            @*@Html.ValidationMessageFor(m => m.localPasswordModel.ConfirmPassword)*@
        </li>
    </ol>
    <input type="button" id="btnUpdateMemberPassword" value="Change password" />
</fieldset>
<script type="text/javascript">

    $('#btnUpdateMemberPassword').click(function () {

        var memberOldPassword = $('#txtMemberOldPassword').val();
        var memberNewPassword = $('#txtMemberNewPassword').val();
        var memberConfirmPassword = $('#txtMemberConfirmPassword').val();

        var memberPasswordModel = {};
        memberPasswordModel.OldPassword = memberOldPassword;
        memberPasswordModel.NewPassword = memberNewPassword;
        memberPasswordModel.ConfirmPassword = memberConfirmPassword;

        var stringMemberPassword = JSON.stringify(memberPasswordModel);
        var updatedMemberPassword = { model : stringMemberPassword };
        ny.ajaxPost('/Account/UpdateMemberPassword', updatedMemberPassword);
    });

</script>