@model GoPulauV01.Models.CustomMemberUpdateModel

<h3>Update Member Info</h3>

@using (Html.BeginForm("UpdateMember", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Update Member Info Form</legend>
        <div>
            <div class="data-row">
                <div class="data-column-title">
                    @Html.LabelFor(m => m.MemberModel.Name)
                </div>
                <div class="data-column-input">
                    @Html.TextBoxFor(m => m.MemberModel.Name)
                </div>
            </div>
            <div class="data-row">
                <div class="data-column-title">
                    @Html.LabelFor(m => m.MemberModel.Ic_Passport)
                </div>
                <div class="data-column-input">
                    @Html.TextBoxFor(m => m.MemberModel.Ic_Passport)
                </div>
            </div>
            <div class="data-row">
                <div class="data-column-title">
                    @Html.LabelFor(m => m.MemberModel.Gender)
                </div>
                <div class="data-column-input">
                    @Html.RadioButtonFor(m => m.MemberModel.Gender, "M", new { id = "radMemberGenderMale", @class = "radio-member-gender", name = "gender", Checked = "checked" })
                    @Html.Label("radMemberGenderMale", "Male")
                    @Html.RadioButtonFor(m => m.MemberModel.Gender, "F", new { id = "radMemberGenderFemale", @class = "radio-member-gender", name = "gender" })
                    @Html.Label("radMemberGenderFemale", "Female")
                </div>
            </div>
            <div class="data-row">
                <div class="data-column-title">
                    @Html.LabelFor(m => m.MemberModel.Dob)
                </div>
                <div class="data-column-input">
                    @Html.TextBoxFor(m => m.MemberModel.Dob)
                </div>
            </div>
            <div class="data-row">
                <div class="data-column-title">
                    @Html.LabelFor(m => m.MemberModel.Race)
                </div>
                <div class="data-column-input">
                    @Html.RadioButtonFor(m => m.MemberModel.Race, "Malay", new { id = "radMemberRaceMalay", name = "race", Checked = "checked" })
                    @Html.Label("radMemberRaceMalay", "Malay")
                    @Html.RadioButtonFor(m => m.MemberModel.Race, "Chinese", new { id = "radMemberRaceChinese", name = "race" })
                    @Html.Label("radMemberRaceChinese", "Chinese")
                    @Html.RadioButtonFor(m => m.MemberModel.Race, "Indian", new { id = "radMemberRaceIndian", name = "race" })
                    @Html.Label("radMemberRaceIndian", "Indian")
                    @Html.RadioButtonFor(m => m.MemberModel.Race, "Others", new { id = "radMemberRaceOthers", name = "race" })
                    @Html.Label("radMemberRaceOthers", "Others")
                </div>
            </div>
            <div class="data-row">
                <div class="data-column-title">
                    @Html.LabelFor(m => m.MemberModel.Religion)
                </div>
                <div class="data-column-input">
                    @Html.TextBoxFor(m => m.MemberModel.Religion)
                </div>
            </div>
            <div class="data-row">
                <div class="data-column-title">
                    @Html.LabelFor(m => m.MemberModel.Occupation)
                </div>
                <div class="data-column-input">
                    @Html.TextBoxFor(m => m.MemberModel.Occupation)
                </div>
            </div>
            <div class="data-row">
                <div class="data-column-title">
                    @Html.LabelFor(m => m.MemberModel.Address)
                </div>
                <div class="data-column-input">
                    @Html.TextBoxFor(m => m.MemberModel.Address)
                </div>
            </div>
            <div class="data-row">
                <div class="data-column-title">
                    @Html.LabelFor(m => m.MemberModel.PostalCode)
                </div>
                <div class="data-column-input">
                    @Html.TextBoxFor(m => m.MemberModel.PostalCode)
                </div>
            </div>
            <div class="data-row">
                <div class="data-column-title">
                    @Html.LabelFor(m => m.MemberModel.State)
                </div>
                <div class="data-column-input">
                    @Html.TextBoxFor(m => m.MemberModel.State)
                </div>
            </div>
            <div class="data-row">
                <div class="data-column-title">
                    @Html.LabelFor(m => m.MemberModel.Country)
                </div>
                <div class="data-column-input">
                    @Html.TextBoxFor(m => m.MemberModel.Country)
                </div>
            </div>
            <div class="data-row">
                <div class="data-column-title">
                    @Html.LabelFor(m => m.MemberModel.PhoneNo)
                </div>
                <div class="data-column-input">
                    @Html.TextBoxFor(m => m.MemberModel.PhoneNo)
                </div>
            </div>
        </div>
        <input type="submit" value="Update" />
    </fieldset>
}