@{
    ViewBag.Title = "JourneryPackage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Journery Package</h2>
<div class="journey-package-wrapper">
    <div class="journey-package-container">
		<!--XMT id:1,2,3-->
        <div class="journey-package-row">
            <div class="journey-package-column-left">
                Package A
            </div>
            <div class="journey-package-column-left-middle">
                RM 388 (3 Days 2 Nights)
            </div>
            <div class="journey-package-column-middle-right">
                BBQ, Steamboat
            </div>
            <div class="journey-package-column-right">
                View Details
				<input id="btnPackageA" type="button" value="Order" onclick="@("window.location.href='" + @Url.Action("ProcessOrder", "Order", new { id = 1 }) + "'");" />
            </div>
        </div>
        <div class="journey-package-row">
            <div class="journey-package-column-left">
                Package B
            </div>
            <div class="journey-package-column-left-middle">
                RM 188 (2 Days 1 Night)
            </div>
            <div class="journey-package-column-middle-right">
                Visit Templers
            </div>
            <div class="journey-package-column-right">
                View Details
				<input id="btnPackageB" type="button" value="Order" onclick="@("window.location.href='" + @Url.Action("ProcessOrder", "Order", new { id = 2 }) + "'");" />
            </div>
        </div>
        <div class="journey-package-row">
            <div class="journey-package-column-left">
                Package C
            </div>
            <div class="journey-package-column-left-middle">
                RM288 (2 Days 1 Night)
            </div>
            <div class="journey-package-column-middle-right">
                Sit Boat Got Around the Pulau, Seafood.
            </div>
            <div class="journey-package-column-right">
                View Details
				<input id="btnPackageC" type="button" value="Order" onclick="@("window.location.href='" + @Url.Action("ProcessOrder", "Order", new { id = 3 }) + "'");" />
            </div>
        </div>
		<!--End of XMT-->
		<br />
		<!--CHH id:4,5-->
		<div class="journey-package-row">
			<div class="journey-package-column-left">
				Package A2
			</div>
			<div class="journey-package-column-left-middle">
				RM 388 (3 Days 2 Nights)
			</div>
			<div class="journey-package-column-middle-right">
				BBQ, Steamboat
			</div>
			<div class="journey-package-column-right">
				View Details
				<input id="btnPackageA" type="button" value="Order" onclick="@("window.location.href='" + @Url.Action("ProcessOrder", "Order", new { id = 4 }) + "'");" />
			</div>
		</div>
		<div class="journey-package-row">
			<div class="journey-package-column-left">
				Package B2
			</div>
			<div class="journey-package-column-left-middle">
				RM 188 (2 Days 1 Night)
			</div>
			<div class="journey-package-column-middle-right">
				Visit Templers
			</div>
			<div class="journey-package-column-right">
				View Details
				<input id="btnPackageB" type="button" value="Order" onclick="@("window.location.href='" + @Url.Action("ProcessOrder", "Order", new { id = 5 }) + "'");" />
			</div>
		</div>
		<!--End of CHH-->
		<br />
		<!--WZ id:6,7-->
		<div class="journey-package-row">
			<div class="journey-package-column-left">
				Package A3
			</div>
			<div class="journey-package-column-left-middle">
				RM 388 (3 Days 2 Nights)
			</div>
			<div class="journey-package-column-middle-right">
				BBQ, Steamboat
			</div>
			<div class="journey-package-column-right">
				View Details
				<input id="btnPackageA" type="button" value="Order" onclick="@("window.location.href='" + @Url.Action("ProcessOrder", "Order", new { id = 6 }) + "'");" />
			</div>
		</div>
		<div class="journey-package-row">
			<div class="journey-package-column-left">
				Package B3
			</div>
			<div class="journey-package-column-left-middle">
				RM 188 (2 Days 1 Night)
			</div>
			<div class="journey-package-column-middle-right">
				Visit Templers
			</div>
			<div class="journey-package-column-right">
				View Details
				<input id="btnPackageB" type="button" value="Order" onclick="@("window.location.href='" + @Url.Action("ProcessOrder", "Order", new { id = 7 }) + "'");" />
			</div>
		</div>
		<!--End of WZ-->
    </div>
</div>

<style type="text/css">
    .journey-package-wrapper {
        width: 100%;
        height: 100%;
    }

    .journey-package-container {
        width: 100%;
        height: 100%;
    }

    .journey-package-row {
        width: 100%;
        height: 30px;
    }

    .journey-package-column-left {
        width: 15%;
        height: 100%;
        display: inline-block;
        float: left;
    }

    .journey-package-column-left-middle {
        width: 20%;
        height: 100%;
        display: inline-block;
        float: left;
    }

    .journey-package-column-middle-right {
        width: 35%;
        height: 100%;
        display: inline-block;
        float: left;
    }

    .journey-package-column-right {
        width: 30%;
        height: 100%;
        display: inline-block;
        float: left;
    }
</style>